@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-700.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'),
        url('../fonts/play-v19-latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2'),
        url('../fonts/play-v19-latin-700.ttf') format('truetype');
}

:root {
    --color-main: #011C44;
    --color-link: #2B7FFF;
    --color-buttom: #FFFFFF;
    --color-record: #4A4A4A;
    --color-choose: #000000;
    --color-date: #747272;
}

/*Main*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: var(--color-main);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21.09px;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a {
    display: inline-block;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/*header*/
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    padding: 32px 0px 32px 0px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

.link-heder {
    color: var(--color-main);
    text-decoration: none;
    transition: color 0.2s;
}

.link-heder:hover {
    color: var(--color-link);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header-items {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    justify-content: center;
}

/*kosmetologichna-klinika*/
.kosmetologia-klinika {
    padding: 123px 0px 156px 206px;
    background-image: url('../images/fon-page.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.klinika {
    margin-bottom: 16px;
}

.main-title {
    color: var(--color-link);
    font-family: 'Play', sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
    margin-bottom: 40px;
}

.button {
    color: var(--color-buttom);
    background-color: var(--color-link);
    border: 2px solid var(--color-link);
    width: 219px;
    height: 53px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 32px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 14px;
}

.button:hover {
    color: var(--color-main);
    background-color: transparent;
    transition: background-color 0.2s;
}

.record {
    color: var(--color-record);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    max-width: 238px;
}

/*perevtilyujtes-v-spanbeaty-zone*/
.perevtilyujtes {
    padding-bottom: 88px;
}

.perevtilyujtes-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    position: relative;
}

.perevtilyujtes-text {
    margin-top: 40px;
}

.perevtilyujtes-v-beaty-zone {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 74.05px;
    margin-bottom: 40px;
    max-width: 529px;
}

.main-beauty-zone {
    color: var(--color-link);
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 0px;

}

.perevtilyujtes-text {
    margin-bottom: 0px;
}

.beauty-zone {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
}

.image {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item-photo {
    position: relative;
    left: 172px;
}

.item {
    width: 335px;
    height: 328px;
}

.item:first-child {
    margin-bottom: 40px;
}

.star-1 {
    position: absolute;
    top: 336px;
    right: 294px;
    bottom: 271px;
    left: 858px;
    animation: scale 5s linear 0s infinite;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.star-2 {
    position: absolute;
    top: 32px;
    right: 0;
    bottom: 608px;
    left: 1212px;
    animation: scale 5s linear 0s infinite;
}


.star-3 {
    position: absolute;
    top: 269px;
    right: 6px;
    bottom: 404px;
    left: 1213px;
    animation: spin 5s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*perevagi*/

.section-perevagi {
    padding-top: 88px;
}

.perevagi-fon {
    background-image: url('../images/fon-3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    padding: 48px 0px;
}

.choose {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 74.05px;
    margin-bottom: 48px;
    text-align: center;
}

.section-perevagi-text {
    margin-bottom: 0px;
}

.choose-us {
    color: var(--color-choose);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.choose-fl {
    display: flex;
    justify-content: center;
    gap: 56px;
}

.choose-us-article {
    border-radius: 32px;
    background-color: var(--color-buttom);
    padding: 24px 32px;
    min-height: 181px;
    width: 316px;
    text-align: center;
}


/*nashi-proceduri*/
.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.procedures {
    color: var(--color-buttom);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    gap: 56px;
    justify-content: center;
}

.formats-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.formats-item {
    flex-basis: calc((100% - 32px) / 3);
}

.format-card {
    background-image: linear-gradient(180.05deg,
            rgba(1, 28, 68, 0) 48.53%,
            rgba(1, 28, 68, 0.725825) 84.61%,
            #011C44 101.39%);
    color: var(--color-main);
    border: 1px solid lightcoral;
    padding: 372px 77px 32px 115px;
    height: 456px;
    border-radius: 120px 4px 120px 4px;
    transition: transform 0.2s;
    /*remove*/
}

.format-card:hover {
    transform: scale(1.05);
}

.carousel-buttom {
    width: 44px;
    height: 44px;
    padding: 0px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: var(--color-main);
    flex-shrink: 0;
}

.carousel-buttom:hover {
    background-color: var(--color-link);
    fill: var(--color-buttom);
    transition: background-color 0.2s;
}

.carousel-buttom.next {
    transform: rotate(180deg);

}

.image-class {
    border-radius: 120px 4px 120px 4px;
}

/*Yak-nas-znayti*/
.yak-nas-section {
    padding-bottom: 93px;
}

.contact-container {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.contact-map {

    flex-shrink: 0;
    border: none;
    border-radius: 32px;

}

.yak-nas-text {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 25.78px;
    text-align: center;
    color: var(--color-buttom);
    display: block;
    margin: 0 auto 32px auto;
}

.contact-form {
    background-color: var(--color-main);
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 422px;
    height: 482px;
    border-radius: 32px;
    padding: 48px 57px 48px 56px;

}

.form-contact {
    position: relative;
    margin-bottom: 16px;
}

/*footer*/
footer {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    background-color: var(--color-main);
    padding: 56px;
}

.footer {
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}

.footer-menu,
.footer-logo {
    flex-grow: 1;
}

.link-footer {
    color: var(--color-buttom);
    text-decoration: none;
    margin-bottom: 16px;
}

.link-footer:hover {
    color: var(--color-link);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 16px;
    transition: color 0.2s;
}

.footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.adress-icon {
    fill: var(--color-buttom);
}

.date {
    color: var(--color-date);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
}

.footer::after {
    position: absolute;
    background-image: url('../images/coametic-photo.png');
    content: '';
    width: 247px;
    height: 152px;
    bottom: 0px;
    right: 0px;
}

/*Modal*/
.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #011F4A66;
    padding: 20px 0px;
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: relative;
    width: 100%;
    max-width: 723px;
    height: 100%;
    max-height: 681px;
    background-color: var(--color-main);
    background-image: url('../images/footer-background.png');
    border-radius: 48px;
    padding: 42px 144px;
    color: var(--color-buttom);
    overflow-y: auto;
}

.modal-btn-close {
    position: absolute;
    top: 42px;
    right: 42px;
}

/*Form*/
.form-input {
    width: 100%;
    max-width: 310px;
    border: 2px solid var(--color-date);
    border-radius: 32px;
    background-color: transparent;
    font-size: 13px;
    padding: 18px 33px;
    display: block;
    margin: 0 auto;
    color: var(--color-buttom);
}

.form-label {
    position: absolute;
    top: 16px;
    left: 42px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.17;
    color: var(--color-buttom);
    transition: transform 0.2s;
}

.form-field {
    position: relative;
    margin-bottom: 24px;
}

.form-input:focus {
    background-color: var(--color-date);
    border: 2px solid var(--color-date);
    outline: none;
    color: var(--color-buttom);
    transition: background-color 0.2s;
}

.form-input::placeholder {
    color: var(--color-buttom);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-buttom);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.17;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.form-button {
    display: block;
    margin: 0 auto 8px auto;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 281px;
}


.form-button:hover {
    color: var(--color-main);
    background-color: var(--color-buttom);
}

.form-terms {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-date);
    max-width: 213px;
    display: block;
    margin: 0 auto 48px auto;
    text-align: center;
}

.policy-form {
    color: var(--color-date);
}

.title-form {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 74.05px;
    text-align: center;
    max-width: 435px;
    max-height: 148px;
    margin-bottom: 40px;
}

.descript-form {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 0 auto 32px auto;
}

.word-form {
    color: var(--color-link);
}